<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Sonido</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select slot="end" interface="action-sheet">
        <ion-select-option value="en">Inglés</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="fr">Francés</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Tamaño de fuente</ion-label>
      <ion-range min="0" max="100" step="1" snaps="true" pin="true" value="50">
        <ion-icon slot="start" name="text"></ion-icon>
        <ion-icon slot="end" name="text"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Eliminar cuenta</ion-label>
      <ion-button slot="end" color="danger" fill="clear">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label (click)="goToHome()">Inicio</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label (click)="goToProfile()">Perfil</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
