<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" id="main-content">
  <ion-item *ngFor="let post of posts">
    <div class="post-container">
      <!-- Contenido de la publicación -->
      <div class="image-container">
        <img [src]="post.image" alt="Imagen de la publicación">
      </div>
      <ion-label>
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
      </ion-label>
      <ion-buttons>
        <ion-button fill="clear" (click)="likePost(post)">
          <ion-icon name="heart"></ion-icon>
          <ion-badge color="primary">{{ post.likes }}</ion-badge>
        </ion-button>
        <ion-button fill="clear" (click)="commentPost(post)">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
          <ion-badge color="primary">{{ post.comments }}</ion-badge>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-item>
</ion-content>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label (click)="goToProfile()">Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label (click)="goToConfiguracion()">Configuración</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label (click)="goToListarUsuarios()">Lista de usuarios</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
